*{
    box-sizing: border-box;
}



:root{
    --primary-color:#0089df;
    --secondary-color: #25ff51;
    --span-bg-color: #1b1a1a;
    --span-color: #ffdd1f;
    --backgrond-color: #202020;
    --navbar--header-text: #ffffda;
}

body {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    background-color: var(--backgrond-color);
    width: 80%;
    margin: auto;
}

/* --NAVBAR START-- */
.page-header{
    display: flex;
    width: 100%;
    padding: 20px;
    background-color: var(--backgrond-color);
}

.page-header__logo {
    color: var(--navbar--header-text);
}

.page-header__item:last-child {
    flex-grow: 1;
    margin-top: 20px;
    text-align: right;
}

.navigation-list {
    list-style-type: none;
}

.navigation-list li{
    display: inline-block;
    margin-left: 15px;
    color: var(--navbar--header-text);
    /* color: red; */

}

.navigation-list li a {
    color: var(--navbar--header-text);
}


.about__section{
    text-align: center;
}
/* --NAVBAR END-- */


/* start grid fallback */
.project-list__item {
    display: inline-block;
    width: 33%;
}
   /* end grid fallback */


.section-title{
    text-align: center;
    color: var(--navbar--header-text);

}

/* --WORK GRID LIST START-- */
@supports (display: grid) {
    .project-list {
        display: grid;
        width: 80%;
        grid-template-columns: 33% 33% 33%;
        grid-gap: 12px;
        margin: 0 auto;
        color: #ffffff;

    }
    
    .project-list__item{
        background-color: #555555;
        /* padding: 10px; */
        width: 100%;
        position: relative;
    }

    .project-list__item__header h3{
        /* padding: 0; */
        margin: 5px;
        text-align: center;
    }

    .project-list__item__content{
        padding: 5px;
        text-align: center;
    }
}

@media all and (max-width: 500px) {
  .project-list {
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .project-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .project-list {
    grid-gap: 10px;
  }
  .project-list__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

.project-image{
    width: 97%;
    display: block;
    margin: auto;
    /* height: 80%;  */
}

.github-link{
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    text-align: center;
}

/* --WORK GRID LIST END-- */



.profile{
    max-width: 700px;
    margin: 0 auto;
}

.profilepic{
    width: 250px;
    height: 250px;
    float: left;
    border-radius: 50%;
    margin-right: 40px;
}

.contact {
    text-align: center;
}


.contact__form  input{
    padding: 10px;
}

h1{
    font-size: 30px;
    font-weight: 700;
}

.span__web{
    background-color: var(--span-bg-color);
    color: var(--span-color);
}

.button__main{
    background-color: var(--primary-color);
    width: 240px;
    height: 30px;
    color: white;
    border:none;
    border-radius: 3px;
    padding: 5px;
    transition: opacity 0.3s;
}

.button__main:hover,
.button__main:active{
    opacity: 0.8;
    cursor: pointer;
}

a:visited{
    color: var(--primary-color);
}

a:hover,
a:focus{
    text-decoration: none;
}

a:active{
    color: var(--secondary-color);
}

.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    color: #fff;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }

  .fa:hover {
    opacity: 0.7;
  }


  /* animation of svg element starts here  */
.sun {
    animation-duration: 4s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
}


@keyframes color-change {
    0% {
      fill: #edc655;
    }
    50% {
      fill: #fcffad;
    }
    100% {
      fill: #f76714;
    }
}

@keyframes cloud-move-reverse {
    from {
      transform: translate(446px, 48px);
    }
    to {
      transform: translate(100px, 48px);
    }
}

.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}

/* animation of svg element ends here  */
